/* CSS RESET - undo the varying default styling applied by web browsers to HTML elements */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  /* text-rendering: optimizeSpeed; */
  line-height: 1.5;

}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* sr-only is for screen reader use only - The element will be visually hidden but will still be read by screen reader technology. */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

/*  A big shout out to Andy Bell at https://andy-bell.co.uk/about/
    For his great article " A Modern CSS Reset " I recommend giving it a read at https://andy-bell.co.uk/a-modern-css-reset/
*/


/* MY CUSTOM CSS RULES BELOW */

/* Reusable Custom CSS Variables */
:root {
  /* Measurments */
  --width_row-width-percentage: 90%;
  --color_highlight: #339900;
}

:root.dark-theme {
  /* Color Theme is Dark Mode by Default */
  /* --color_highlight: #339900; */
  --color_page-background: #121212;
  --color_section-background: #0D0D0D;
  --color_standard-text: #FFF;
  --color_hover-state-box-shadow: rgba(0,255,0,0.5);

  /* Delete Below once Final Colors Chosen */
  --color_page-background: #141414;
}

:root.light-theme {
  /* --color_highlight: #339900; */
  --color_page-background: #F7F9FC;
  --color_section-background: #FFF;
  --color_standard-text: #000;
  --color_hover-state-box-shadow: yellow; /* Update this, have just used as placeholde for now */

  /* Delete Below once Final Colors Chosen */
  --color_page-background: #e7e9ec;
}

html {
  scroll-behavior: smooth;
  font-size: 16px; /* Sets the base size for 1rem to 16px */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  /* font-weight: 400; */
  color: var(--color_standard-text);
  background-color: var(--color_page-background);

  transition: 500ms;
}

/* Divs, Containers & buttons - Reusable */

.row {
  width: var(--width_row-width-percentage);
  margin: auto;
  max-width: 1500px;
}


.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: var(--width_row-width-percentage);
  margin: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--color_section-background);
  margin-bottom: 1.25rem;
  border-radius: 1.25rem;
  padding: 1rem;
}

.wrapper a {
  text-decoration: none;
  color: inherit;
}

.hero-box-2 h1 {
  font-size: 2rem;
}

h2 {
  margin-bottom: 0.625rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.625rem 0rem 1.25rem 0rem;
  width: 100vw;
  max-width: 1500px;
}

.brandname {
  font-weight: 600;
  font-size: 1rem;
}

.brandname__colored {
  color: var(--color_highlight);
}

nav {
  width: 100%;
  margin: 0.625rem 0rem;
}

.nav-list {
  flex-wrap: nowrap;
  width: 100%;
}

nav ul {
    padding: 0rem;
}

nav ul li {
    list-style: none;
    padding: 0.313rem 0.625rem;
    background-color: var(--color_section-background);
    border-radius: 100px;

}

nav ul li a {
    list-style: none;
    text-decoration: none;
    color: var(--color_standard-text);
    font-weight: 500;
}

.nav__current-tab {
  background: var(--color_highlight);
  color: var(--color_section-background);
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color_section-background);
  width: 34px;
  height: 34px;
  border-radius: 20px;
}

.fa-sun {
  color: #ea8f06;
}

.avatar-img {
  border-radius: 8px;
}

.expanded-bio-desktop-only {
  margin-top: 0.5rem;
  display: none;
}

.expanded-bio-desktop-only a {
  color: var(--color_highlight);
  text-decoration: underline;
}

.wrapper .inner-box {
  background-color: var(--color_page-background);
  border-radius: 10px;
  padding: 0.625rem;
  margin: 0.313rem 0.313rem 0.313rem 0rem;
}

.row-2 {
  gap: 20px;
}

.row-2 .wrapper {
  flex: 1;
}

.row-2 .currently-excited {
  flex: 1.5;
}

.github-stats-wrapper {
  background-color: var(--color_section-background);
}

.github-stats-wrapper img {
  border-radius: 10px;
}

.wrapper.contact-section-home .inner-box {
  margin-top: 1rem;
}

.wrapper.contact-section-home i {
  margin-right: 0.5rem;
}

/* Footer & Social Row Styling */
.footer {
  width: 100%;
  max-width: 1500px;
  margin-bottom: 1rem
}

.social-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px 0px;
}

.social-row a {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.social-inner-box {
  display: flex;
  background-color: var(--color_section-background);
  padding: 0.625rem 1.875rem 0.625rem 1.25rem;
  border-radius: 15px;
  width: 162px;
}

.social-inner-box.fe-mentors {
  width: 500px;
}

.social-row a.fe-mentors {
  max-width: 100%;
}

.social-inner-box i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

i.fa-linkedin {
  color: #0A66C2;
}

i.fa-square-instagram {
  background: linear-gradient(to top, #FED576, #f47133, #bc3081, #4c63d2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* This makes the text itself transparent, showing the background */
  display: inline-block; /* Needed to apply the gradient correctly */
}

/* SKILLS.HTML PAGE ONLY */

.skills-page-title-span {
  display: flex;
  align-items: center;
  font-size: 30px;
  gap: 1rem; /*For spacing between fa-star icons and h1 title */
}

.skills-page-title-span .fa-star {
  color: var(--color_highlight);
}

/* Skills Page - Styling */
.skills-icons-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 0.5rem;  /* To provide a gap between certificates list on mobile */
}

.fa-circle-check {
  color: #74C0FC;
  margin-right: 0.5rem;
}

figure {
  width: 100%;
  max-width: 144px;
  transition: all 300ms;
}

figcaption {
  margin: 0;
  font-size: 1.5rem;
  transform: scale(0);
  text-align: center;
  transition: all 300ms;
}

figure:hover figcaption {
  opacity: 1;
  transform: scale(0.9);
}

figure:hover {
  filter: brightness(90%);
  opacity: 0.9;
  transform: scale(0.9);
}

.skills-cert-list {
  list-style: none;
  padding: 0;
  /* padding: 0 0 0 5px; */
}

.skills-cert-list li {
  padding-bottom: 0.75rem;
}

.skill-row-1 {
  max-width: 1500px;
  justify-content: space-between;
}

.social-row a.fe-mentors {
  width: 390px; /* <-- some issue here nee to fix */
  /* max-width: 100%; */
}

/* Refactor - updating to mobile first design */

.outer-wrapper {
  display: flex;
  flex-direction: column;
}

.skill-row-1  {
  display: flex;
  flex-direction: column;
}

.skill-row-1 {
  flex: 1;
}

.skill-row-2 {
  display: flex;
  flex-direction: column-reverse;
}

.skill-row-2 .social-row {
  max-width: 630px; /** NEED TO ADJUST FOR SCREENS UNDER 1600px width APPROX */
  /* align-items: flex-start; */
  margin-bottom: 25px; /* Adds space at bottom of mobile screens - may need to unset for larger media quiries */
}

/* Portfolio Page and Project Cards Initial Styling before refactor */

.project-cards-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* fixes card siblings stretching when one card is exapnded issue */
  gap: 50px;
  margin-bottom: 50px;
}

.project-card {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  max-width: 380px;
  /* border: 2px solid #17BEBB; */
  border: 2px solid var(--color_highlight);
  border-radius: 5px;
  overflow: hidden;
}

.project-card-image-wrapper {
overflow: hidden;
}
.project-card-image-wrapper img {
  border-radius: 3px 3px 0 0;
}

.project-card-text-wrapper {
  padding: 5px 5px 5px 10px;
  /* background-color: #17BEBB; */
  background-color: var(--color_section-background);
  /* color: black; */
  color: var(--color_standard-text);
  border-radius: 0 0 2px 2px;
}

.badge {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-right: 10px;
  background-color: #FFF;
  color: #1A1A1D;
  padding: 3px 12px 2px 5px;
  border-radius: 6px;
  border: 1px solid var(--color_standard-text);
}

.badge-container {
  display:flex;
  flex-direction: row;
  margin-top: 4px;
}

.badge i {
  font-size: 20px;
  padding-right: 10px;
}

.badge .icon-html {
  color: orange;
}

.badge .icon-css {
  color: blue;
}

.badge .icon-javascript {
  font-size: 18.5px;
  color: #F0DB4F;
}

.badge .icon-react {
  font-size: 16.5px;
  color: #61DBFB;
}

.project-description {
  font-size: 16px;
  margin: 16px 0 0 0;
  line-height: 1.1;
}

.cutoff-text {
--max-lines: 3;
--line-height: 1.25;
padding: 0;
height: calc(var(--max-lines) * 1em * var(--line-height));
line-height: var(--line-height);
overflow: hidden;
}

.expand-btn {
border: none;
appearance: none;
outline: none;
width: 240px;
font-size: 12px;
padding: 0;
color: var(--color_standard-text);
letter-spacing: 1.8px;
}

.expand-btn::before {
font-family: "Font Awesome 5 Free";
content: "Read Full Description \f078";
font-weight: 900;
}

.expand-btn:checked::before {
content: "Show Less \f077";
}

.cutoff-text:has(+ .expand-btn:checked) {
height: auto;
}

.button-wrapper {
  margin: 15px 0 10px 0;
}

.button--project-card {
  text-decoration: none;
  padding: 4px 6px;
  margin-right: 20px;
  color: black;
  background-color: #E4E7E6;
  border: 2px solid black;
}

/* Initial Contact Form Styling - Refactor once design is correct */

.contact-form-container {
  width: 100%;
}

.contact-form-wrapper {
  margin-top: 16px;
}
.contact-form-wrapper .input-control {
  width: 100%;
}

textarea {
  resize: none;
}

.contact-form-wrapper .input-control input,
.contact-form-wrapper .input-control textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 12px;
  border: 2.5px solid var(--color_page-background);
  color: var(--color_standard-text);
  background-color: var(--color_page-background);
}

.contact-form-wrapper .input-control input.incorrect,
.contact-form-wrapper .input-control textarea.incorrect {
  border: 2.5px solid red;
  /* consider slighly modifying icon-error svg below to be more of custom error image ? */
  background: url(../images/icon-error.svg) no-repeat 97%;
  /* Also consider updating background color of input that has failed validation ? */
  margin: 2px 0;
}

.contact-form-wrapper .input-control input:focus-visible,
.contact-form-wrapper .input-control textarea:focus-visible {
  outline: none;
  border: 2.5px solid lightblue;

}

.contact-form-wrapper .submit-btn {
  width: 100%;
  height: 50px;
  background-color: var(--color_highlight);
  color: var(--color_standard-text);
  border-radius: 12px;
}

/* Move to hoverable devices media query when finished styling */
.contact-form-wrapper .submit-btn:hover {
  cursor: pointer;
  opacity: 0.85;
}


.error-message {
  text-align: start;
  color: red;
  font-size: 0.8rem;
  padding: 0px 0px 0px 10px;
  margin-bottom: 6px;
}

.input-control .none {
  display: none;
}

@media screen and (min-width: 545px) {
  .header {
    padding: 1.25rem 0rem;
  }

  .social-inner-box.fe-mentors {
    max-width: 315px;
  }

}

@media screen and (min-width: 620px) {
  nav {
    max-width: 430px
  }

  .theme-toggle {
    order: 2;
  }
}


@media screen and (min-width: 800px) {

  .row {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
  }

  .row-2 {
    flex-wrap: wrap;
  }

  nav {
    margin: 0rem; /* resets what was set in mobile first */
  }

  .hero-box-1 {
    flex: 0.5;
    max-width: 340px;
    margin-right: 3.125rem;
  }

  .hero-box-2 {
    flex: 1;
    padding: 1.563rem;
  }

  .wrapper .inner-box {
    padding: 0.438rem 0.625rem;
  }

  /* contact page row that holds the contact form - may need to be placed else where after responsiveness break points are tested  */
  .contact-row  {
    justify-content: center;
  }

  /* skills page desktop - experimetation stage */

  /* Refactor - updating to mobile first design */

.skill-row-1,
.skill-row-2  {
  flex-direction: row;
  gap: 75px;
}

.skill-row-1 .wrapper .skills-cert-list {
  min-width: 600px;
}

.skill-row-1 .wrapper .skills-icons-wrapper {
  max-width: 700px;
}

.skill-row-2 .social-row {
  align-items: flex-start;
}


/* REFACTOR - curently used to overwrite .wrapper.contact-section-home .inner-box */
/* Only needs to be refactred or desktop */
.wrapper.contact-section-home .inner-box-skill-page-contact {
  margin-top: 0rem;
}

.main {
  min-width: 1500px;
}

}

@media screen and (min-width: 1200px) {

  .expanded-bio-desktop-only {
    display: block;
  }

  .footer {
    margin-bottom: 0rem
  }
}


@media screen and (min-width: 1400px) {
  .hero-box-2 h1,
  .hero-box-2 h2,
  .hero-box-2 p {
    max-width: 80%;
  }

}

@media (hover: hover) {
  .nav-list li,
  .theme-toggle,
  a .inner-box,
  a .social-inner-box {
    transition: box-shadow 0.3s;
  }

  .nav-list li:hover,
  .theme-toggle:hover,
  a .inner-box:hover,
  a .social-inner-box:hover {
    cursor: pointer;
    box-shadow: 0 0 15px var(--color_hover-state-box-shadow);
  }

  .project-card .button-wrapper a:hover {
    background-color: var(--color_hover-state-box-shadow);
    cursor: pointer;
    box-shadow: 0 0 15px var(--color_hover-state-box-shadow);
  }
}